/*global style*/
* {
    box-sizing: border-box;
    max-width: 100%;
    outline: none;
}

html {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

a:hover {
    color: #F09E00;
}

.text-orange {
    color: #F09E00 !important;
}

body {
    background: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: PT Sans;
}

button {
    cursor: pointer;
}

/*concert video container*/
.concert-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.main-video-container {
    flex: 1;
    height: 100%;
    position: relative;
}

.main-video {
    width: 100%;
    height: 100%;
    position: relative;
}

.sign-language-container {
    position: absolute;
    right: 0;
    width: 200px;
    height: 200px;
    bottom: 100px;
}

#sign-language-video-wrapper {
    display: none;
}

#sign-language-video-wrapper .main-video {
    position: relative;
    z-index: 1;
}

#sign-language-video-wrapper.active {
    display: block;
}

.sign-language-container button {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    cursor: pointer;
    z-index: 100;
    outline: none;
}

.sign-language-container .show-button {
    right: 0;
    left: auto;
    bottom: 0;
    top: auto;
    z-index: 0;
    width: 50px;
    height: 50px;
    font-size: 2rem;
}

/*right bar style (tip and chat feature)*/
.right-container {
    width: 400px;
}

.right-top-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top-tipper-right {
    display: flex;
}

.top-tippers {
    padding: 1rem;
    background: rgba(255, 255, 255, 0.2);
}

.top-tippers-label {
    display: flex;
    justify-content: space-between;
}

.total-tip {
    background: #5EEB5B;
    padding: 0.25rem 0.75rem;
    border-radius: 50px;
    color: black;
}

.total-tip i {
    margin-right: 0.5rem;
}

.user-picture {
    min-width: 30px;
    width: 30px;
    height: 30px;
    background: purple;
    border-radius: 30px;
    display: flex;
    font-size: 1.4rem;
    justify-content: center;
    overflow: hidden;
}

.user-picture span {
    margin-top: 10px;
}

.top-tippers-user-list {
    padding-top: 0.25rem;
    display: flex;
}

.top-tippers-user-list .user-picture{
    margin-right: 0.5rem;
}

.chat-containers {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

#chat-containers {
    max-height: 100%;
    overflow-y: auto;
}

.chat-wrapper {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
}

.chat-wrapper.current {
    background: rgba(255,255,255,0.1);
}

.chat-wrapper.tip {
    background: rgba(94, 235, 91, 0.3);
}

.chat-wrapper .user-picture{
    margin-right: 1rem;
}

.chat-text-wrapper div{
    display: inline;
}

.chat-text-wrapper .username {
    color: #aaa;
    margin-right: 0.5rem;
}

.chat-input-wrapper {
    padding: 1rem;
    background: rgba(255, 255, 255, 0.2);
}

.chat-input-wrapper .username-wrapper {
    display: flex;
    align-items: center;
}

.chat-input-wrapper .username-wrapper .user-picture {
    margin-right: 1rem;
}

.chat-input-wrapper .chat-input {
    padding-left: 2.9rem;
}

.chat-input-wrapper .chat-input input {
    background: black;
    width: 100%;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
}

.chat-input-wrapper .chat-extension {
    padding-top: 0.75rem;
    padding-left: 2.9rem;
    display: flex;
    justify-content: space-between;
}

.chat-input-wrapper .chat-extension-left {
    display: flex;
}

.chat-input-wrapper .chat-extension-left > div {
    position: relative;
}

.chat-input-wrapper .chat-extension > div > div > button {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
}

.tip-modal {
    width: 300px;
    max-width: none;
    height: 130px;
    position: absolute;
    background: #333;
    top: -140px;
    left: 50%;
    transform: translate(-50%);
    padding: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: none;
}

.tip-modal.active{
    display: block;
}

.btn-orange {
    background: #F09E00;
    border: #F09E00;
    color: black;
}

.tip-wrapper {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    width: 130px;
}

.tip-wrapper input {
    flex: 1;
    text-align: center;
    outline: none;
    border: none;
}

.tip-wrapper input + button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.sticker-modal {
    width: 300px;
    max-width: none;
    height: 300px;
    position: absolute;
    background: #333;
    top: -310px;
    left: 50%;
    transform: translate(-50%);
    padding: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: none;
}

.sticker-modal.active {
    display: block;
}

.sticker-modal-wrapper img {
    width: 100%;
    height: 100%;
    transition: 0.3s all;
    cursor: pointer;
}

.sticker-modal-wrapper img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 992px) {
    .concert-container {
        flex-direction: column;
    }

    .right-container {
        width: 100%;
        flex: 1;
        overflow: hidden;
    }

    .sign-language-container {
        width: 100px;
        height: 100px;
    }

    .top-tippers,
    .chat-input-wrapper {
        padding: 0.5rem;
    }

    .tip-modal,
    .sticker-modal {
        left: 0;
        transform: none;
    }
}
